<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
  <div class="panel panel-default col-md-10 col-md-offset-1">
    <h1>Rails Todo List</h1>
    <div class="panel-body">
      <ul class="nav nav-pills">
        <%= link_to 'Home', tasks_path, :class => "btn btn-default" %>
        <%= link_to 'New Task', new_task_path, :class => "btn btn-default" %>
      </ul>      
    </div>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <%= yield %>
  </div>

</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</html>
